// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gap: 10px;


.home {
    #main .container {
    height: 70vh;
    display: grid;
  }

  .deck {
    display: flex;
    overflow-x: auto;
    //width: 100%; // This is needed for FF < 54
    > * {
      flex: 0 0 auto; // 'rigid' lists
      margin-left: $gap;
    }
    &::after {
      content: '';
      flex: 0 0 $gap;
    }
  }
}